<section>
  <p>-- meindatabinding.component.html:</p>
  String Interpolation - von .ts (Server) zum .html (Client) für die Ausgabe.
  <p>Z.B. Ausgabe eines String Properties der Komponente:
    {{meinmoduleProperty}}
  </p>
  <p><b>NameDerData: Typ = Wert;</b></p>
  <p>z. B. <i>tueren: number = 4;</i></p>
  <p>Syntax: Number bzw. Integer 'serverId': {{serverId}}</p>
  <p>String 'serverId': {{serverId}}</p>
  <p>
    oder kann auch nur ein pures String direkt ausgeben: {{'ein String'}} (wozu ??)
  </p>
  <p>Getter-Methoden Aufruf: <span style="color:blue">{{getServerStatus()}}</span> </p>
</section>
